@import "components/banner.css";
@import "components/presentation.css";
@import "components/button.css";
@import "components/link.css";
@import "components/about.css";
@import "components/activities.css";
@import "components/carousel.css";

@font-face {
  src: url("../fonts/linux_libertine/LinLibertine_R.ttf");
  font-family: 'Linux_libertine_R'; }

@font-face {
  src: url("../fonts/linux_libertine/LinLibertine_DR.ttf");
  font-family: 'Linux_libertine_RB'; }
