@import "components/banner.css";
@import "components/presentation.css";
@import "components/button.css";
@import "components/link.css";
@import "components/about.css";
@import "components/activities.css";
@import "components/carousel.css";
@import "components/under-presentation.css";
@import "components/navbar.css";
@import "components/contact.css";

@font-face {
  src: url("../fonts/linux_libertine/LinLibertine_R.ttf");
  font-family: 'Linux_libertine_R'; }

@font-face {
  src: url("../fonts/linux_libertine/LinLibertine_DR.ttf");
  font-family: 'Linux_libertine_RB'; }

@media all and (max-width: 480px) {

}

@media all and (max-width: 768px) {

}

@media all and (max-width: 1024px) {

}

@media all and (max-width: 1320px) {

}
