@media all and (max-width: 480px) {

}

@media all and (max-width: 768px) {

}

@media all and (min-width: 768px) and (max-width: 1280px) {
  body.mobile .activities {
    position: relative;
    background-image: url('../../images/joute-red-effect.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: 20% 20%;
    background-size: cover; }
    body.mobile .activities .content-side {
      margin: 0px;
      padding: 50px;
      width: 100%; }
      body.mobile .activities .content-side .content { }
        body.mobile .activities .content-side .content h1 {
          font-size: 5rem; }
        body.mobile .activities .content-side .content .text {
          font-size: 3rem;
        }
    body.mobile .activities .activities-list {
      display: none; }
    body.mobile .activities.clicked .activities-list {
      display: inherit; }
      body.mobile .activities .activities-list .container-fluid { }
        body.mobile .activities .activities-list .container-fluid .activity {
          transition: all 0.3s;
          cursor: pointer;
          margin: 50px 0px;
          box-shadow: 0px 0px 20px #000;
          background-color: #fff;
          width: 100%; }
          body.mobile .activities .activities-list .container-fluid .activity:hover {
            transform: translateY(-20px); }
            body.mobile .activities .activities-list .container-fluid .activity img {
              width: 100%; }
            body.mobile .activities .activities-list .container-fluid .activity .content {
              padding: 50px;
              background-color: #fff;
              text-align: justify; }
              body.mobile .activities .activities-list .container-fluid .activity .content h3 {
                font-size: 4rem;
                text-transform: uppercase;
                font-family: 'Helvetica Neue', sans-serif;
                margin-top: 0px; }
              body.mobile .activities .activities-list .container-fluid .activity .content p {
                margin: 0px;
                font-size: 3rem;
                font-family: 'Helvetica Neue', sans-serif; }
              body.mobile .activities .activities-list .container-fluid .activity .content .more {
                position: relative;
                margin-top: 10px;
                height: 50px; width: 100%; }
                body.mobile .activities .activities-list .container-fluid .activity .content .more svg {
                  right: 0px;
                  width: 50px; height: 50px;
                  position: absolute; }

  .activities {
    position: relative;
    background-image: url("../../images/joute-red-effect.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: 20% 20%;
    background-size: cover; }
    .activities .content-side {
      width: 70%;
      margin: 50px 50px; }
      .activities .content-side .button {
        margin: 0px; }
      .activities .content-side .content {
        text-shadow: 0px 0px 20px #000;
        color: #fff; }
        .activities .content-side .content h1 {
          text-transform: uppercase; }
        .activities .content-side .content .text {
          text-align: justify;
          margin: 30px 0px; }

    .activities .return {
      display: none; }
    .activities.clicked .return {
      display: inline; }

    .activities .activities-list {
      /* display: none; */
      margin-bottom: 80px; }
    .activities.clicked .activities-list {
      display: inherit; }
        .activities .activities-list td {
          width: 25%;
          padding: 20px 20px; }
          .activities .activities-list td .activity {
            transition: 0.3s;
            cursor: pointer;
            box-shadow: 0px 0px 20px #000;
            background-color: #fff;
            width: 100%; }
          .activities .activities-list td .activity:hover {
            transform: translateY(-20px); }
            .activities .activities-list td .activity img {
              width: 100%; }
            .activities .activities-list td .activity .content {
              padding: 20px;
              background-color: #fff;
              text-align: justify; }
              .activities .activities-list td .activity .content h3 {
                text-transform: uppercase;
                margin-top: 0px;
                font-family: 'Helvetica Neue', sans-serif; }
              .activities .activities-list td .activity .content p {
                margin: 0px;
                font-family: 'LinLibertine_RB', sans-serif; }
              .activities .activities-list td .activity .content .more {
                position: relative;
                margin-top: 10px;
                height: 20px; width: 100%; }
                .activities .activities-list td .activity .content .more svg {
                  right: 0px;
                  width: 20px; height: 20px;
                  position: absolute; }
}

@media all and (min-width: 1280px) {
  body.mobile .activities {
    position: relative;
    background-image: url('../../images/joute-red-effect.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: 20% 20%;
    background-size: cover; }
    body.mobile .activities .activities-list {
      display: none; }
    body.mobile .activities.clicked .activities-list {
      display: inherit; }
      body.mobile .activities .activities-list .container-fluid { }
        body.mobile .activities .activities-list .container-fluid .activity {
          transition: all 0.3s;
          cursor: pointer;
          margin: 50px 0px;
          box-shadow: 0px 0px 20px #000;
          background-color: #fff;
          width: 100%; }
          body.mobile .activities .activities-list .container-fluid .activity:hover {
            transform: translateY(-20px); }
            body.mobile .activities .activities-list .container-fluid .activity img {
              width: 100%; }
            body.mobile .activities .activities-list .container-fluid .activity .content {
              padding: 50px;
              background-color: #fff;
              text-align: justify; }
              body.mobile .activities .activities-list .container-fluid .activity .content h3 {
                font-size: 4rem;
                text-transform: uppercase;
                font-family: 'Helvetica Neue', sans-serif;
                margin-top: 0px; }
              body.mobile .activities .activities-list .container-fluid .activity .content p {
                margin: 0px;
                font-size: 3rem;
                font-family: 'Helvetica Neue', sans-serif; }
              body.mobile .activities .activities-list .container-fluid .activity .content .more {
                position: relative;
                margin-top: 10px;
                height: 50px; width: 100%; }
                body.mobile .activities .activities-list .container-fluid .activity .content .more svg {
                  right: 0px;
                  width: 50px; height: 50px;
                  position: absolute; }

  .activities {
    position: relative;
    background-image: url("../../images/joute-red-effect.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: 20% 20%;
    background-size: cover; }
    .activities .content-side {
      width: 40%;
      margin: 50px 50px; }
      .activities .content-side .button {
        margin: 0px; }
      .activities .content-side .content {
        text-shadow: 0px 0px 20px #000;
        color: #fff; }
        .activities .content-side .content h1 {
          text-transform: uppercase; }
        .activities .content-side .content .text {
          text-align: justify;
          margin: 30px 0px; }

    .activities .return {
      display: none; }
    .activities.clicked .return {
      display: inline; }

    .activities .activities-list {
      display: none;
      margin-bottom: 80px; }
    .activities.clicked .activities-list {
      display: inherit; }
        .activities .activities-list td {
          width: 25%;
          padding: 20px 20px; }
          .activities .activities-list td .activity {
            transition: 0.3s;
            cursor: pointer;
            box-shadow: 0px 0px 20px #000;
            background-color: #fff;
            width: 100%; }
          .activities .activities-list td .activity:hover {
            transform: translateY(-20px); }
            .activities .activities-list td .activity img {
              width: 100%; }
            .activities .activities-list td .activity .content {
              padding: 20px;
              background-color: #fff;
              text-align: justify; }
              .activities .activities-list td .activity .content h3 {
                text-transform: uppercase;
                margin-top: 0px;
                font-family: 'Helvetica Neue', sans-serif; }
              .activities .activities-list td .activity .content p {
                margin: 0px;
                font-family: 'LinLibertine_RB', sans-serif; }
              .activities .activities-list td .activity .content .more {
                position: relative;
                margin-top: 10px;
                height: 20px; width: 100%; }
                .activities .activities-list td .activity .content .more svg {
                  right: 0px;
                  width: 20px; height: 20px;
                  position: absolute; }
}
