@media all and (max-width: 480px) {

}

@media all and (max-width: 768px) {
  .presentation.container-fluid {
    padding: 0px; }
    .presentation.container-fluid .picture-side {
      padding: 0px; }
    .presentation.container-fluid .text-side {
      padding: 0px;
      text-align: justify;
      font-family: 'LinLibertine_RB', sans-serif; }
      .presentation.container-fluid .text-side .content {
        margin: 10%;
        font-size: 1rem;
        position: absolute; }
        .presentation.container-fluid .text-side .content h1 {
          margin-top: 0px;
          font-family: 'Helvetica Neue', sans-serif; }
        .presentation.container-fluid .text-side .content p {
          margin-bottom: 30px; }

  .presentation .container-presentation {
    height: 70vh;
    margin: 50px; }
    .presentation .container-presentation .picture-side {
      width: 100%; }
    .presentation .container-presentation .text-side {
      width: 100%; }
      .presentation .container-presentation .text-side .content {
        margin: 50px 0px 0px 0px; }
        .presentation .container-presentation .text-side .content h1 {
          font-size: 5rem; }
        .presentation .container-presentation .text-side .content p {
          margin: 25px 0px 25px 0px;
          font-size: 3rem; }
}

@media all and (max-width: 1024px) {
  .presentation.container-fluid {
    padding: 0px; }
    .presentation.container-fluid .picture-side {
      padding: 0px; }
    .presentation.container-fluid .text-side {
      padding: 0px;
      text-align: justify;
      font-family: 'LinLibertine_RB', sans-serif; }
      .presentation.container-fluid .text-side .content {
        margin: 10%;
        font-size: 1rem;
        position: absolute; }
        .presentation.container-fluid .text-side .content h1 {
          margin-top: 0px;
          font-family: 'Helvetica Neue', sans-serif; }
        .presentation.container-fluid .text-side .content p {
          margin-bottom: 30px; }

  .presentation .container-presentation {
    height: 90vh;
    margin: 50px; }
    .presentation .container-presentation .picture-side {
      width: 100%; }
    .presentation .container-presentation .text-side {
      width: 100%; }
      .presentation .container-presentation .text-side .content {
        margin: 50px 0px 0px 0px; }
        .presentation .container-presentation .text-side .content h1 {
          font-size: 5rem; }
        .presentation .container-presentation .text-side .content p {
          margin: 25px 0px 25px 0px;
          font-size: 3rem; }
}

@media all and (min-width: 1025px) {
  .presentation.container-fluid {
    padding: 0px; }
    .presentation.container-fluid .picture-side {
      padding: 0px; }
    .presentation.container-fluid .text-side {
      padding: 0px;
      text-align: justify;
      font-family: 'LinLibertine_RB', sans-serif; }
      .presentation.container-fluid .text-side .content {
        margin: 10%;
        position: absolute; }
        .presentation.container-fluid .text-side .content h1 {
          margin-top: 0px;
          font-family: 'Helvetica Neue', sans-serif; }
        .presentation.container-fluid .text-side .content p {
          color: #333;
          margin-bottom: 30px; }

  .presentation .container-presentation {
    height: 70vh;
    margin: 50px; }
    .presentation .container-presentation .picture-side {
      width: 100%; }
    .presentation .container-presentation .text-side {
      width: 100%; }
      .presentation .container-presentation .text-side .content {
        margin: 50px 0px 0px 0px; }
        .presentation .container-presentation .text-side .content h1 {
          font-size: 5rem; }
        .presentation .container-presentation .text-side .content p {
          margin: 25px 0px 25px 0px;
          font-size: 3rem; }
}
